body {
  margin: 0;
  font-family: 'Cormorant', serif;
  background-color: #F0F0F0;
}

.mainBox {
  display: flex;
  flex-direction: column;
  /*border: 3px solid purple;*/
}

.options {
  display: flex;
  flex-direction: row;
  flex-basis: 90%;
  justify-content: space-around;
  /*border: 3px solid red;*/
}

.kroseLogo {
  padding: .6rem;
  margin: .2rem;
  /*border: 1px solid green;*/
}

.logoBox:hover .kroseLogo {
    cursor: pointer;
    background-color:  #F0F0F0;
    border-radius: .4rem;
    border: .5px solid #52474E;
    /*border: 1px solid #52474E;*/
  }

.menu {
  background-color: white;
  display: flex;
  flex-direction: row;
  /*border: 3px solid orange;*/
 }

a {
  text-decoration:none;
}

.buttons {
  display: flex;
  flex-direction: row;
  /*border: 1px solid green;*/
}

.dropdown1 {
  display: flex;
  flex-direction: column;
  /*border: 1px solid blue;*/
 }

.dropdown2 {
  display: flex;
  flex-direction: column;
  /*border: 1px solid blue;*/
  padding-right: 10rem;
}

.buttons a, #resumeLabel, #projectsLabel {
  font-size: 1.125rem;
  font-weight: 700;
  padding-top: 1.3rem;
}

.buttons a {
  color: #52474E;
  text-decoration: underline;
  text-decoration-color: #52474E;
  cursor: none;
}

#resumeLabel, #projectsLabel {
  color: #52474E;
  padding-left: 1rem;
  cursor: pointer;
}

.submenu li a {
  font-size: 1rem;
  padding-top: .5rem;
  font-weight: bold;
  list-style: none;
  margin-left: 0;
  color: #C5C2C4;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
}

.submenu {
  display: none;
  position: absolute;
  margin-top: 3rem;
  margin-left: 0;
  background-color: white;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.submenu li {
  /*border: 3px solid green;*/
  z-index: 3;
  list-style-type: none;
}

@media (any-hover: hover) {
  .dropdown1:hover .submenu, .dropdown2:hover .submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}

.submenu li a:hover {
  text-decoration: underline;
  text-decoration-color: #52474E;
  color: #52474E;
  cursor: pointer;
}

.meContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  align-items: center;
  /*border: 2px solid blue;*/
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.messageContainer1, .messageContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 2px solid red;*/
}

h1, p1, p2, p3 {
  color: #52474E;
  font-family: 'EB Garamond', serif;
}

h1 {
 font-size: 2.5rem;
 font-weight: bold;
 padding-left: 1.5rem;
 padding-right: 1.5rem;
 text-align: center;
}

.rose {
  height: 2rem;
}

p1, p2 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-left: 20%;
  margin-right: 20%
 }

.collageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collage {
  width: 30rem;
  padding: 2rem;
}

 .messageContainer2 {
    margin-bottom: 4rem;
  }

@media (max-width: 600px) {

  .logoBox {
    display: flex;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .buttons a, #resumeLabel {
    padding-top: .5rem;
    margin-top: .5rem;
  }

  #resumeLabel {
    background-color: white;
    padding-right: 2rem;
  }

  .dropdown1 {
    padding-bottom: .5rem;
  }

  #projectsLabel {
    background-color: white;
    padding-bottom: 2.5rem;
    padding-top: .5rem;
    margin-top: .5rem;
  }

  .dropdown2 {
    flex:50%;
  }

  .buttons {
    padding-left: 1rem;
    font-weight: bold;
    flex: 50%;
  }

  .submenu {
    width: 100%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .meContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }

  p1, p2 {
  margin-left: 5%;
  margin-right: 5%
  }

  .messageContainer1, .messageContainer2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .collage {
    width: 20rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
