body {
  margin: 0;
  font-family: 'Cormorant', serif;
  background-color: #F0F0F0;
}

.mainBox {
  display: flex;
  flex-direction: column;
  /*border: 3px solid purple;*/
}

.menu {
  background-color: white;
  display: flex;
  flex-direction: row;
  /*border: 3px solid orange;*/
}

.kroseLogo {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
  /*border: 1px solid green;*/
}

.options {
  display: flex;
  flex-direction: row;
  flex-basis: 90%;
  justify-content: space-around;
  /*border: 3px solid red;*/
}

.buttons {
  display: flex;
  flex-direction: row;
  /*border: 1px solid green;*/
}

.buttons a {
  color: #52474E;
  text-decoration: none;
}

.buttons a:hover {
  text-decoration: underline;
  text-decoration-color: #52474E;
}

.dropdown1 {
  display: flex;
  flex-direction: column;
  /*border: 1px solid blue;*/
 }

.dropdown2 {
  display: flex;
  flex-direction: column;
  padding-right: 10rem;
  /*border: 1px solid blue;*/
}

@media (any-hover: hover) {
  .dropdown1:hover .submenu, .dropdown2:hover .submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}

#resumeLabel, #projectsLabel {
  cursor: pointer;
  font-weight: bold;
  color: #52474E;
  padding-left: 1rem;
}

.buttons a, #resumeLabel, #projectsLabel {
  font-size: 1.125rem;
  font-weight: 700;
  padding-top: 1.3rem;
}

.submenu {
  display: none;
  position: absolute;
  margin-top: 3rem;
  margin-left: 0;
  background-color: white;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.submenu li {
  z-index: 3;
  list-style-type: none;
  /*border: 3px solid green;*/
}

.submenu li a {
  font-size: 1rem;
  padding-top: .5rem;
  font-weight: bold;
  list-style: none;
  margin-left: 0;
  color: #C5C2C4;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  /*border: 1px solid red;*/
}

.submenu li a:hover {
  text-decoration: underline;
  text-decoration-color: #52474E;
  color: #52474E;
  cursor: pointer;
}

.meContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  /*border: 2px solid blue;*/
}

.portrait {
  display: flex;
  padding: 1rem;
  /*border: 1px solid orange;*/
}

.me {
  height: 14rem;
  width: auto;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 2.5rem;
  margin: 1rem;
  /*border: 2px solid red;*/
}

p1, p2, p2b, p3, p4, p5 {
  color: #52474E;
  font-family: 'EB Garamond', serif;
}

p1 {
  font-size: 3rem;
  font-weight: bold;
  /*margin-left: .2rem;*/
}

p2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: .8rem;
  /*margin-right: 5.4rem;*/
 }

p3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 2.4rem;
  font-style: italic;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 4rem;
  align-items: baseline;
  /*border: 2px solid green;*/
}

.mailContainer, .gitContainer {
  display: flex;
}

.mail {
  width: 3rem;
}

p4 {
   font-weight: bold;
   margin-top: .4rem;
   margin-left: .6rem;
   margin-right: 2rem;
}

p5 {
   font-weight: bold;
   margin-left: .6rem;
   margin-top: .3rem;
   /*border: 1px solid green;*/
}

p4 a, p5 a {
   color: #C5C2C4;
}

p4 a:hover, p5 a:hover {
   text-decoration: underline;
   text-decoration-color: #52474E;
   color: #52474E;
   cursor: pointer;
}

.statusContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.available, .unavailable {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.available {
   color: #52474E;
   text-decoration: underline;
   text-decoration-color: #52474E;
}

.unavailable {
   color: #C5C2C4;
}

@media (max-width: 600px) {
   .menu {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .logoBox {
    display: flex;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

   .buttons {
    padding-left: 1rem;
    font-weight: bold;
    flex: 50%;
  }

  .buttons a, #resumeLabel{
    padding-top: .5rem;
    margin-top: .5rem;
  }

  #resumeLabel {
    background-color: white;
    padding-right: 2rem;
  }

   #projectsLabel {
    background-color: white;
    padding-bottom: 2.5rem;
    padding-top: .5rem;
    margin-top: .5rem;
  }

  .dropdown1 {
    padding-bottom: .5rem;
  }

  .dropdown2 {
    flex:50%;
  }

  .submenu {
    width: 100%;
  }

  .meContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }

  .messageContainer {
    margin-top: 1.5rem;
    padding-top: .5rem;

  }

  p1 {
    font-size: 3rem;
  }

  .statusContainer {
    display: flex;
    flex-direction: column;
  }

  .unavailable, .available {
    align-self: flex-start;
  }

  .unavailable {
    margin-top: 1rem;
  }
}
