* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  background-image: url("https://i.pinimg.com/originals/60/22/ec/6022ec579083e14ed4fddcd9c8024c7a.png"); 
  background-repeat: repeat; 
}

/*********************** K ROSE NAV BAR ************************/
.options {
  display: flex;
  flex-direction: row;
  flex-basis: 90%;
  justify-content: space-around;
  /*border: 3px solid red;*/
}

.menu {
  /*border: 3px solid orange;*/
  background-color: white;
  display: flex;
  flex-direction: row;
  font-family: 'Cormorant', serif;
   padding-bottom: .4rem;
}

.kroseLogo {
  padding: .4rem;
  margin-top: .4rem;
  margin-left: .4rem;
  /*border: 1px solid green;*/
}

.logoBox:hover .kroseLogo {
  cursor: pointer;
  border: 1.5px solid #330099;
  border-radius: 4px;
}

a {
  text-decoration:none;
}

#resumeLabel, #projectsLabel {
  cursor: pointer;
  font-family: 'Cormorant', serif;
  font-size: 1.125rem;
  font-weight: 700;
  padding-top: 1.3rem;
  color: #330099;
  padding-left: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  /*border: 1px solid green;*/
}

.dropdown1 {
  display: flex;
  flex-direction: column;
  /*border: 1px solid blue;*/
 }

.dropdown2 {
  display: flex;
  flex-direction: column;
  padding-right: 10rem;
  /*border: 1px solid blue;*/
}

.buttons a {
  font-size: 1.125rem;
  font-weight: 700;
  padding-top: 1.3rem;
  color: #330099;
}

.submenu li a {
  font-size: 1rem;
  padding-top: .5rem;
  font-weight: bold;
  list-style: none;
  margin-left: 0;
  color: #C5C2C4;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  /*border: 1px solid red;*/
}

.buttons a:hover {
  text-decoration: underline;
  text-decoration-color: #330099;
}

.submenu {
  display: none;
  position: absolute;
  margin-top: 3rem;
  margin-left: 0;
  background-color: white;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.submenu li {
  z-index: 3;
  list-style-type: none;
  /*border: 3px solid green;*/
}

@media (any-hover: hover) {
    .dropdown1:hover .submenu, .dropdown2:hover .submenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
}

.submenu li a:hover {
  text-decoration: underline;
  text-decoration-color: #330099;
  color:  #330099;
  cursor: pointer;
}

.submenu .active {
  color: #330099;
  text-decoration: underline;
  text-decoration-color: #330099;
  cursor: none;
}

.submenu .active:hover {
  cursor: none;
}
/**************************************************************/


.topnav{
  justify-content: space-between;
  background: linear-gradient(to right, #daf4ff 1%, #e5f3ff 70%, #e9ddff 100%);
}

.topnav, .container3 {
  display: flex;
  cursor: pointer;
  flex-direction: row;
}

.container2:hover, .options3:hover {
   top: calc(50% - 75px);
 left: calc(50% - 75px);
  border-radius: 6vmin;
 background-color:#fff;
 box-shadow:
   inset 0 0 15px #39004d,
   inset 0 0 18px #660088,
   inset 0 0 21px #ac00e6,
   0 0 2px .5px #fff,
   0 0 3px .75px #0099ff;
 transition: box-shadow .5s ease-out;
  animation: spin 2s linear infinite;
}


.topnav {
  border: .5px solid #7777;
}

.header, .options1, .options2, .options3, .donateBtn {
  display:flex;
  flex-direction: row;
  white-space: nowrap;
  background: white;
  padding: 1.5vmin;
  margin: .5vmin;
  border: .5px solid #7777;
  border-radius: 6vmin;
  border-left: 1px solid #7777;
  /*box-shadow: 5px 5px 2.5px #7777;*/
  width:-moz-fit-content;
  width: fit-content;
 -webkit-hyphens:none;
 -moz-hyphens:none;
  hyphens:none;
  }

.txt {
  font-size: 2vmin;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.clr {
  padding-left: .5vw;
  background: linear-gradient(to right, #330099   10%, #660088 70%, #0099ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2vmin;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  color: #000;
  text-align: center;
  background: -webkit-linear-gradient(right, #333399 0%, #660088 25%, #0099ff 50%, #0000aa 100%, #00ff22 10%) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 500s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


@keyframes shimmer {
    0% {
        background-position: 0,0;
    }
    100% {
       background-position: 500em 188em;
    }
}

.contc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vmin;
  padding: 3vmin;
}

 @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container1 {
  padding: 15px 50px;
  background: linear-gradient(to right, #330099   10%, #660088 70%, #0099ff 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.banner {
  background: linear-gradient(to right, #daf4ff 10%, #e5f3ff 70%, #e9ddff 100%);
  background-size: 400%;
   text-align:center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 15vmin;
  font-family: 'Impact', fantasy;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 200s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.btnContainer, .barContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;

}

.btnContainer {
  margin-bottom: 3vw;
}

.barContainer {
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 2vmin;
  background: #000;
 }

.donateBtn {
  display: flex;
  border: 0px;
  width:-moz-fit-content;
  width: fit-content;
 -webkit-hyphens:none;
 -moz-hyphens:none;
  hyphens:none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-45deg, #330099 15%, #660088 40%, #0099ff 90%);
  color: white;
  font-weight: 450;
  text-shadow: -0.5px 0 rgb(87, 87, 87), 0 0.5px rgb(87, 87, 87), 0.5px 0 rgb(87, 87, 87), 0 -0.5px rgb(87, 87, 87);
  border-radius: 45vmin;
  border: 0px;
  cursor: pointer;
  font-family: 'Impact', fantasy;
  text-align: center;
  width: 10vw;
  height: 2vw;
  padding: 1.75rem .75rem;
  font-size: calc(.6rem + 1vw);
}

.bar {
  display: flex;
  box-shadow: -0.5px 0 rgb(87, 87, 87), 0 0.5px rgb(87, 87, 87), 0.5px 0 rgb(87, 87, 87), 0 -0.5px rgb(87, 87, 87);
  height: 3vw;
  width: 90vw;
  border-radius: 20vmin;
  margin-bottom: 6vmin;
  margin-top: 6vmin;
  background: #ddd;
}

.progress {
  transition: width .5s ease;
  height: 3vw;
  width: 0%;
  border-radius: 20vmin;
  box-shadow:
      0 0 15px #fff,
      0 0 15px #cc00df,
      0 0 18px #0099ff,
      0 0 25px #99ffff,
      0 0 30px #fff;

  transition: box-shadow .5s ease out;
   animation: spin 2s linear infinite;
  background-image: linear-gradient(-45deg,   #330099 15%, #660088 40%, #0099ff 90%);
}

.donationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.donateBtn:hover {
   top: calc(50% - 75px);
 left: calc(50% - 75px);
 background-color:#fff;
 box-shadow:
   inset 0 0 24px #39004d,
   inset 0 0 28px #660088,
   inset 0 0 32px #ac00e6,
   0 0 28px 20px #fff,
   0 0 8px 4px #0099ff;
 transition: box-shadow .5s ease-out;
  animation: spin 2s linear infinite;
}

.formContainer {
  display: flex;
  justify-content: center;
  margin: 3vmin;
  padding: 2vmin;
 }

input[type=text] {
  display: flex;
  padding: 4vmin;
  border-radius: 2vmin;
  width: 10vw;
  height: 2vw;
  font-family: 'Impact', fantasy;
  text-align: center;
  font-size: calc(.6rem + 1vw);
}

::placeholder {
  text-align: center;
  color: black;
  font-size: calc(.4rem + .6vw);
}

.donationStatus {
  display: flex;
  flex-direction: column;
}

.statusGrid, .gridTitles {
  font-family: 'Impact', fantasy;
  border-radius: 2vmin;
  background: white;
  display: flex;
  flex-direction: row;
  height: 2vw;
  width: 80vw;
  padding: 2vmin;
  justify-content: space-between;
  flex-basis: 100%;
}

.gridTitles {
 box-shadow: -0.5px 0 rgb(87, 87, 87), 0 0.5px rgb(87, 87,  87), 0.5px 0 rgb(87, 87, 87), 0 -0.5px rgb(87, 87, 87);
 margin-bottom: 2vmin;
}

.statusGrid {
  margin-bottom: 6vmin;
}

#theToyName {
  display: flex;
  justify-content: center;
   font-size: 10vmin;
  font-family: 'Impact', fantasy;
  font-weight: 800;
}

#theToyId {
  display: flex;
  justify-content: center;
  font-size: 8vmin;
  font-family: 'Impact', fantasy;
  font-weight: 200;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vmin;
}

.imageBorder {
 display: flex;
 justify-content: center;
 margin-top: 4vmin;
 padding: 5vw;
 width: 40vw;
 height: auto;
}

@media (max-width: 600px) {
  /*********************** K ROSE NAV BAR ************************/
  .logoBox {
    display: flex;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .buttons a, #resumeLabel {
    padding-top: .5rem;
    margin-top: .5rem;
  }

  #resumeLabel {
    background-color: white;
    padding-right: 2rem;
    padding-bottom: 1.5rem;

  }

  .dropdown1 {
    padding-bottom: .5rem;
  }

  #projectsLabel {
    background-color: white;
    padding-bottom: 1.5rem;
    padding-top: .5rem;
    margin-top: .5rem;
  }

  .dropdown2 {
    flex:50%;
  }

  .buttons {
    padding-left: 1rem;
    font-weight: bold;
    flex: 50%;
  }

  .submenu {
    width: 100%;
    margin-top: 2.5rem;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
/**************************************************************/

  .bar, .progress {
    height: 10vw;
  }

 .donateBtn {
    width: 40vw;
    height: 4vw;
    font-size: calc(1rem + 2vw);
    font-family: 'Impact', fantasy;
    font-weight: 800;
  }
  input[type=text] {
  width: 25vw;
  }

  .clr, .txt {
    font-size: 5vw;
    padding: 2vw;
  }

  .topnav {
    padding: 3vw;
  }

}

