body {
  margin: 0;
  font-family: 'Cormorant', serif;
  background-color: #F0F0F0;
}

.mainBox {
  /*border: 3px solid purple;*/
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: row;
  flex-basis: 90%;
  justify-content: space-around;
  /*border: 3px solid red;*/
}

.kroseLogo {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
  /*border: 1px solid green;*/
}

.logoBox:hover .kroseLogo {
    cursor: pointer;
    background-color:  #F0F0F0;
    border-radius: .4rem;
    border: .5px solid #52474E;
    /*border: 1px solid #52474E;*/
  }

.menu {
  /*border: 3px solid orange;*/
  background-color: white;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration:none;
}

.buttons {
  display: flex;
  flex-direction: row;
  /*border: 1px solid green;*/
}

.dropdown1 {
  display: flex;
  flex-direction: column;
  /*border: 1px solid blue;*/
 }

.dropdown2 {
  display: flex;
  flex-direction: column;
  padding-right: 10rem;
   /*border: 1px solid blue;*/
}

.buttons a, .dropdown1 h, .dropdown2 h {
  font-size: 1.125rem;
  font-weight: 700;
  padding-top: 1.3rem;
}

.buttons a {
  color: #52474E;
}

.dropdown1 h, .dropdown2 h {
  color: #52474E;
  padding-left: 1rem;
}

.submenu li a {
  font-size: 1rem;
  padding-top: .5rem;
  font-weight: bold;
  list-style: none;
  margin-left: 0;
  color: #C5C2C4;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  /*border: 1px solid red;*/
}

.buttons a:hover {
  text-decoration: underline;
  text-decoration-color: #52474E;
}

.submenu {
  display: none;
  position: absolute;
  margin-top: 3rem;
  margin-left: 0;
  background-color: white;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.submenu li {
  z-index: 3;
  list-style-type: none;
  /*border: 3px solid green;*/
}

.dropdown1:hover .submenu, .dropdown2:hover .submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
 }

.submenu li a:hover {
  text-decoration: underline;
  text-decoration-color: #52474E;
  color: #52474E;
  cursor: pointer;
}

.submenu .active {
  color: #52474E;
  text-decoration: underline;
  text-decoration-color: #52474E;
  cursor: none;
}

.submenu .active:hover {
  cursor: none;
}

.projectBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2, h3, p1, .tasks li {
  color: #52474E;
  font-family: 'EB Garamond', serif;
}

h2 {
  font-size: 2rem;
  margin-top: 3.5rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: .5rem;
}

p1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;
  line-height: 2rem;
  /*border: 1px solid red;*/
}

.infoBox {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 40%;
  /*border: 1px solid green;*/
}

.tasks {
  list-style-type: decimal;
  color: #52474E;
  margin-top: .5rem;
}

.tasks li {
  font-size: 1rem;
  line-height: 2rem;
}

.tasks > li::marker {
  font-weight: bolder;
}

@media (max-width: 600px) {

  .logoBox {
    display: flex;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .buttons a, .dropdown1 h {
    padding-top: .5rem;
    margin-top: .5rem;
  }

  .dropdown1 h {
    background-color: white;
    padding-right: 2rem;
  }

  .dropdown1 {
    padding-bottom: .5rem;
  }

  .dropdown2 h {
    background-color: white;
    padding-bottom: 2.5rem;
    padding-top: .5rem;
    margin-top: .5rem;
  }

  .dropdown2 {
    flex:50%;
  }

  .buttons {
    padding-left: 1rem;
    font-weight: bold;
    flex: 50%;
  }

  .submenu {
    width: 100%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .infoBox {
    margin-right: 5%;
  }
}
