body {
  background-color: #f0f2f3;
  margin: 0;
}

/*********************** K ROSE NAV BAR ************************/
.menu {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: .4rem;
  /*border: 3px solid orange;*/
}

.kroseLogo {
  padding: .4rem;
  margin-top: .4rem;
  margin-left: .4rem;
  /*border: 1px solid green;*/
}

.logoBox:hover .kroseLogo {
  cursor: pointer;
  border: 1.5px solid #144970;
  border-radius: 4px;
}

.options {
  display: flex;
  flex-direction: row;
  flex-basis: 90%;
  justify-content: space-around;
   font-family: 'Cormorant', serif;
  /*border: 3px solid red;*/
}

.buttons {
  display: flex;
  flex-direction: row;
  /*border: 1px solid green;*/
}

.buttons a {
  color: #144970;
  text-decoration: none;
}

.buttons a:hover {
  text-decoration: underline;
  text-decoration-color: #144970;
}

.dropdown1 {
  display: flex;
  flex-direction: column;
  /*border: 1px solid blue;*/
 }

.dropdown2 {
  display: flex;
  flex-direction: column;
  padding-right: 10rem;
  /*border: 1px solid blue;*/
}

@media (any-hover: hover) {
  .dropdown1:hover .submenu, .dropdown2:hover .submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}

#resumeLabel, #projectsLabel {
  cursor: pointer;
  font-weight: bold;
  color: #144970;
  padding-left: 1rem;
}

.buttons a, #resumeLabel, #projectsLabel {
  font-size: 1.125rem;
  font-weight: 700;
  padding-top: 1.3rem;
}

.submenu {
  display: none;
  position: absolute;
  margin-top: 3rem;
  margin-left: 0;
  background-color: white;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.submenu li {
  z-index: 3;
  list-style-type: none;
  /*border: 3px solid green;*/
}

.submenu li a {
  font-size: 1rem;
  padding-top: .5rem;
  font-weight: bold;
  list-style: none;
  margin-left: 0;
  color: #C5C2C4;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  /*border: 1px solid red;*/
}

.submenu li a:hover {
  text-decoration: underline;
  text-decoration-color: #144970;
  color: #144970;
  cursor: pointer;
}

.submenu .active {
  color: #144970;
  text-decoration: underline;
  text-decoration-color: #144970;
  cursor: none;
}

.submenu .active:hover {
  cursor: none;
}
/**************************************************************/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.headerContainer {
  margin: none;
  display: flex;
  justify-content: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  background-color: #2b3a44;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

h1, h3 {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.description1, .description2, .disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 1rem;
}

p0 {
  font-weight: bold;
  font-size: 1.125rem;
}

p1, p2 {
  font-size: 1rem;
}

p2 {
  font-style: italic;
  font-size: .75rem;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph {
  border: 1px solid #144970;
  border-radius: 2rem;
  width: 50rem;
}

.btnContainer {
  display:flex;
  justify-content: center;
}

.surveyBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  background-color: #144970;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: .4rem;
  width: 20rem;
}

.surveyBtn:hover {
  color: black;
  font-weight: bold;
  text-shadow: none;
  background: radial-gradient(100% 3527.64% at 0% 50%, #144970 0%,      rgba(20, 73, 112, 0.75) 13.27%, rgba(20, 73, 112, 0.33) 33.16%, rgba(20, 73, 112, 0.15) 41.33%, rgba(20, 73, 112, 0.03) 46.43%, rgba(20, 73, 112, 0) 52.04%, rgba(20, 73, 112, 0.03) 57.91%, rgba(20, 73, 112, 0.15) 63.27%, rgba(20, 73, 112, 0.33) 71.17%, rgba(20, 73, 112, 0.75) 86.73%, #144970 99.75%);
border: 1.5px solid #000000;
}


@media (max-width: 600px) {

/*********************** K ROSE NAV BAR ************************/
  .menu {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .logoBox {
    display: flex;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

   .buttons {
    padding-left: 1rem;
    font-weight: bold;
    flex: 50%;
  }

  .buttons a, #resumeLabel{
    padding-top: .5rem;
    margin-top: .5rem;
  }

  #resumeLabel {
    background-color: white;
    padding-right: 2rem;
  }

   #projectsLabel {
    background-color: white;
    padding-bottom: 2.5rem;
    padding-top: .5rem;
    margin-top: .5rem;
  }

  .dropdown1 {
    padding-bottom: .5rem;
  }

  .dropdown2 {
    flex:50%;
  }

  .submenu {
    width: 100%;
  }
/**************************************************************/
  .graph {
    width: 23rem;
  }
}