
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  background-image: url("https://i.pinimg.com/originals/60/22/ec/6022ec579083e14ed4fddcd9c8024c7a.png"); 
  background-repeat: repeat; 
}

/*********************** K ROSE NAV BAR ************************/
.options {
  display: flex;
  flex-direction: row;
  flex-basis: 90%;
  justify-content: space-around;
  /*border: 3px solid red;*/
}

.menu {
  /*border: 3px solid orange;*/
  background-color: white;
  display: flex;
  flex-direction: row;
  font-family: 'Cormorant', serif;
   padding-bottom: .4rem;
}

.kroseLogo {
  padding: .4rem;
  margin-top: .4rem;
  margin-left: .4rem;
  /*border: 1px solid green;*/
}

.logoBox:hover .kroseLogo {
  cursor: pointer;
  border: 1.5px solid #330099;
  border-radius: 4px;
}

a {
  text-decoration:none;
}

#resumeLabel, #projectsLabel {
  cursor: pointer;
  font-family: 'Cormorant', serif;
  font-size: 1.125rem;
  font-weight: 700;
  padding-top: 1.3rem;
  color: #330099;
  padding-left: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  /*border: 1px solid green;*/
}

.dropdown1 {
  display: flex;
  flex-direction: column;
  /*border: 1px solid blue;*/
 }

.dropdown2 {
  display: flex;
  flex-direction: column;
  padding-right: 10rem;
  /*border: 1px solid blue;*/
}

.buttons a {
  font-size: 1.125rem;
  font-weight: 700;
  padding-top: 1.3rem;
  color: #330099;
}

.submenu li a {
  font-size: 1rem;
  padding-top: .5rem;
  font-weight: bold;
  list-style: none;
  margin-left: 0;
  color: #C5C2C4;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  /*border: 1px solid red;*/
}

.buttons a:hover {
  text-decoration: underline;
  text-decoration-color: #330099;
}

.submenu {
  display: none;
  position: absolute;
  margin-top: 3rem;
  margin-left: 0;
  background-color: white;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.submenu li {
  z-index: 3;
  list-style-type: none;
  /*border: 3px solid green;*/
}

@media (any-hover: hover) {
  .dropdown1:hover .submenu, .dropdown2:hover .submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}

.submenu li a:hover {
  text-decoration: underline;
  text-decoration-color: #330099;
  color:  #330099;
  cursor: pointer;
}

.submenu .active {
  color: #330099;
  text-decoration: underline;
  text-decoration-color: #330099;
  cursor: none;
}

.submenu .active:hover {
  cursor: none;
}
/**************************************************************/


b {
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container:hover, .options3:hover {
    top: calc(50% - 75px);
  left: calc(50% - 75px);
   border-radius: 6vmin;
  background-color:#fff;
  box-shadow:
    inset 0 0 15px #39004d,
    inset 0 0 18px #660088,
    inset 0 0 21px #ac00e6,
    0 0 2px .5px #fff,
    0 0 3px .75px #0099ff;
  transition: box-shadow .5s ease-out;
   animation: spin 2s linear infinite;
 }
input[type=text], input[type=number]  {
  width: 12vw;
  height: 1vw;
  padding: 1vw;
  margin: .2vw;
  display: flex;
  border: none;
  background: rgb(230, 230, 230);
  border-radius: 20px;
}

input[type=text]:focus, input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

#text2 {
  width: 100%;
  padding: 15px;
  margin: 5px;
  display: flex;
  border: none;
  background: rgb(230, 230, 230);
  border-radius: 20px;
}

hr {
  border-width: 0.5px;
  border-color: solid rgb(140, 140, 140);
  margin: 25px 100px;
}
 

.checkBtn:hover, .choiceBtn:hover, .submitBtn:hover, .confirmBtn:hover {
  transition: 2s;
  background-size: 200% auto;
  background-position: right center;
  border-radius: 30px;
}

.checkBtn, .choiceBtn, .submitBtn, .confirmBtn {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(-45deg, #330099 15%, #660088 40%, #0099ff 90%);
  color: white;
  font-weight: 450;
  text-shadow: -0.5px 0 rgb(87, 87, 87), 0 0.5px rgb(87, 87, 87), 0.5px 0 rgb(87, 87, 87), 0 -0.5px rgb(87, 87, 87); 
  border-radius: 30px;
  border: 0px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 2%;
  padding: 1rem 0.5rem;
  font-size: 2.5vmin;  
}

.checkBtn, .submitBtn, .confirmBtn {
  width: 40%;
  height: 20%;
}

.choiceBtn {
  width: 60%;
  height: 20%;
}

.toys1, .toys2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-45deg, #330099 15%, #660088 40%, #0099ff 90%);
  color: white;
  font-weight: 450;
  text-shadow: -0.5px 0 rgb(87, 87, 87), 0 0.5px rgb(87, 87, 87), 0.5px 0 rgb(87, 87, 87), 0 -0.5px rgb(87, 87, 87); 
  border-radius: 50%;
  border: 0px;
  cursor: pointer;
  font-family: 'Impact', sans-serif;
  text-align: center;
  width: 30vmin;
  height: 30vmin;
  font-size: 6vmin;  
  font-size: calc(.8rem + 1.2vw);  
  margin-top: 4vw;
  margin-left: 3vw;
  margin-bottom: 2vw;
} 
.container2 {
  display: flex;
  flex-direction: column;
 }

.newToyContainer, .setupContainer {
  display: flex;
  flex-wrap: nowrap;
}

.toys1:hover, .toys2:hover {
  transition: 1s;
  background-size: 200% auto;
  background-position: right center;
  height: 60vmin;
  width: 60vmin;
  font-size: 8vmin; 
  
}

.toys1ON, .toys2ON {
  transition: 1s;
  background-size: 200% auto;
  background-position: right center;
  height: 60vmin;
  width: 60vmin;
  font-size: 8vmin; 
}

/* Add padding to container elements */
.container1 { 
  padding: 15px 50px; 
  background: linear-gradient(to right, #330099   10%, #660088 70%, #0099ff 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
 
.banner {
  background: linear-gradient(to right, #daf4ff 10%, #e5f3ff 70%, #e9ddff 100%);
  background-size: 400%;
  text-align:center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-size: 10vmin;
  font-family: 'Impact', fantasy;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 200s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
} 
 

@keyframes shimmer {
    0% {
        background-position: 0%,0;
    }
    100% {
       background-position: 500em 188em;
    }
} 

.formsContainer, .donationsContainer {
  margin-left: 4vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container3, .container4, .confirmName {
  display: flex;
  padding: 2vmin;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  margin: 2vmin;
}

.nameCheck, .confirmContainer, .donationSetup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1vw;
}

.checkBtnContainer, .choiceBtnContainer, .donateSetupBtnContainer, .confirmBtnContainer {
  display:flex;
  justify-content: center;
  margin: 0;
}

.responseContainer {
  display: flex;
  justify-content: center;
  padding: .5vw;
  margin: 1vw;
  font-size: 1vw;
  font-family: 'Impact', fantasy;
  background: white;
 }


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 600px) {
  /*********************** K ROSE NAV BAR ************************/
  .logoBox {
    display: flex;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .buttons a, #resumeLabel {
    padding-top: .5rem;
    margin-top: .5rem;
  }

  #resumeLabel {
    background-color: white;
    padding-right: 2rem;
    padding-bottom: 1.5rem;

  }

  .dropdown1 {
    padding-bottom: .5rem;
  }

  #projectsLabel {
    background-color: white;
    padding-bottom: 1.5rem;
    padding-top: .5rem;
    margin-top: .5rem;
  }

  .dropdown2 {
    flex:50%;
  }

  .buttons {
    padding-left: 1rem;
    font-weight: bold;
    flex: 50%;
  }

  .submenu {
    width: 100%;
    margin-top: 2.5rem;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
/**************************************************************/

  .container2 {
    flex-direction: column;
  }
  .toys1, .toys2 {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 14vw;
   height: 14vw;
   padding: 6vw;
   font-size: calc(.8rem + 1.2vw); 
  }
  
  .toys1:hover, .toys2:hover {
   width: 40vw;
   height: 40vw;
   padding: 6vw;
  font-size: calc(1.5rem + 2.5vw); 
  }
  
  .toys1ON, .toys2ON {
  width: 40vw;
  height: 40vw;
  padding: 6vw;
  font-size: calc(1.5rem + 2.5vw); 
  }
  .banner {
   font-size: calc(1.5rem + 3.5vw); 
  }
} 

.topnav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to right, #daf4ff 1%, #e5f3ff 70%, #e9ddff 100%); 
   border: .5px solid #7777;
}

.header,  .options1, .options2, .options3 {
  display:flex;
  flex-direction: row;
  white-space: nowrap;
  background: white;
  padding: 1.5vmin;
  margin: 1vmin;
  border: .5px solid #7777;
  border-radius: 6vmin;
  border-left: 1px solid #7777;
  /*box-shadow: 5px 5px 2.5px #7777;*/
  width:-moz-fit-content;
  width: fit-content;
 -webkit-hyphens:none;
 -moz-hyphens:none;
  hyphens:none;
  }

.txt {
  font-size: 2vmin;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.clr {
  padding-left: .5vw;
  background: linear-gradient(to right, #330099   10%, #660088 70%, #0099ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2vmin;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  color: #000;
  text-align: center;
  background: -webkit-linear-gradient(right, #333399 0%, #660088 25%, #0099ff 50%, #0000aa 100%, #00ff22 10%) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 500s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@media (max-width: 600px) {
  .topnav, .container2, .container3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

 
  .topnav {
  justify-content: center;
  width:-moz-fit-content;
  width: fit-content;
 -webkit-hyphens:none;
 -moz-hyphens:none;
  hyphens:none;
  margin: 0px;
  }
}

label {
  font-size: 1vw;
  font-family: 'Impact', fantasy;
  margin: 1vw;
  background: white;
 }