<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kimberly-Rose Engineering About Me</title>
    <meta name="author" content="KRoseEngineering">
    <meta name="description" content="Kimberly-Rose About Me">
    <script src="js/aboutMe.js"></script>
    <link rel="stylesheet" type="text/css" href="css/aboutMe.css">
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,300&family=EB+Garamond&family=Lato:ital,wght@1,100&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
 </head>
  
<body>
     <div class = "mainBox">
      <nav class="menu">
        <div class = "logoBox">
            <a href = "/"> <img src="images/KRoseLogoNoTextHome.svg" height= 40rem class = "kroseLogo" /> </a>
        </div> <!--end logoBox-->
      
       <div class = "options">
         <div class = "buttons"> 
          <a href="#"> About Me </a>
         </div> <!--end buttons-->
         
         <div class = "dropdown1"> 
           <h id = "resumeLabel"> Resume </h> 
             <ul class = "submenu" id = "resumeMenu">
               <li> <a href = "documents/KimberlyJohnsonResume.pdf" target="_blank" rel="noopener noreferrer"> View </a></li>
               <li> <a href = "documents/KimberlyJohnsonResume.pdf" download="KimberlyJohnsonResume.pdf" > Download </a></li>
             </ul> <!--end submenu-->
         </div> <!-- end dropdown1-->
          
         <div class = "dropdown2"> 
           <h id = "projectsLabel"> Projects </h> 
             <ul class = "submenu" id = "projectsMenu">
               <li> <a href = "/get_predictor_home" > Diabetes Risk Predictor </a></li>
               <li> <a href = "/get_my_database"> C++ Relational Database </a></li>
               <li><a href = "https://guitar.ucsd.edu/maeece148/index.php/2021SummerTeam5"  target="_blank" rel="noopener noreferrer"> Fully Autonomous Race Car </a></li>
               <li><a href = "/get_interact_home"> Inter-Act LIVE </a></li>
               <li><a href = "/get_amazon_study"> Amazon Climate Pledge Redesign </a></li>
             </ul> <!--end submenu-->
           </div> <!-- end dropdown2-->
         </div> <!-- end options-->
       </nav><!--end menu-->

        <div class = "meContainer">
    <div class = "titleContainer">
        <img src="images/BlackRose.svg" class = "rose"/>
      <h1> About Me <br></h1>
        <img src="images/BlackRose.svg" class = "rose"/>
      </div> <!-- end titleContainer-->

      <div class = "messageContainer1">
      <p1> Hi and welcome to my site! I'm Kimberly Johnson and I'm a San Diego based Software Engineer specializing in
          computer system design. I have a versatile and constantly evolving skill-set which enables me to implement
          design solutions for a variety of computing platforms ranging from robotics and IOT devices to relational
          databases and websites. I'm passionate about design thinking, conscientious of the end users of my products,
          and always eager to learn any new technologies or languages necessary to optimize a solution or cater to preferences. </p1>
    </div> <!--end messageContainer1-->
    <div class = "collageBox">
      <img src="images/Collage.svg" class = "collage"/>
    </div> <!-- end collage-->
    <div class = "messageContainer2">
      <p2> In my free time I enjoy creating icons and designs in Figma and participating in sports. I designed my own
          logo for this site as well as the roses, mail icon, and the SQL icon on this page. I have been practicing
          Brazilian Jiu-Jitsu for 14 years and I am a former women's coach with international competition experience.
          I also enjoy indoor cycling for the best cardio workout ever and I am an animal lover and mommy of a beautiful tri-colored chihuahua named Makhmood. </p2>
    </div> <!-- end messageContainer2-->
 </div> <!--end meContainer-->
</div><!-- end mainBox-->

  
  </body>
</html>