<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inter-act LIVE About</title>
    <meta name="author" content="Kuki design and K-Rose js">
    <meta name="description" content="ECE 140B Inter-Act Live About">
    <script src="js/about.js"></script>
    <!-- this imports the CSS file. do not remove -->
    <link rel="stylesheet" type="text/css" href="css/about.css">

</head>
 <body>

   <div class = "topnav">
   <div class = "container2">
      <div class= "header">
          <div class="txt">Inter-act </div>
          <div class="clr"> LIVE </div>
      </div> 
   </div> <!--end container2-->
  <div class ="container2">
      <div class = "options3">
        <div class = "txt"> ABOUT </div>
        <div class = "clr"> Inter-act </div>
     </div>
    </div> <!--end container2-->
  </div> <!--end container3-->
</div> <!--end topnav-->
 
   <div class="container1">
    <h1 class= "banner">About Inter-Act</h1>
   </div>
  
   <div class = "msgContainer">
    <div class = "msg">
    <h> Inter-act LIVE turns electronic crowd donations into exciting, real life events! </h>
   <br><br>
    <h> How it works: </h>
   <br>
    <p> Our toys are fully capable of connecting to the internet via WiFi connection. 
        Each toy <br>can be programmed to turn on when a target donation amount has been met by activating <br> 
    the WiFi, and entering your information and goal amount on our site. Share your toyID <br>or 
    personalized  QR code to enable donations. When your goal has been met, the device <br> will turn on! 
    This creates an exciting and Inter-active experience that can make your <br> 
    donation events memorable, and help you achieve your goal amount faster! <br> 
      Toys are completely reusable, you only need to login and reset your goal amount.</p>
   <br><br>
    <h> Instructions: </h>
    <br>
    <p> 1.&ensp; Purchase one of our exciting toys! Each toy will come equipped with full Wifi 
    <br>
connectivity, a personalized QR Code, a personalized link number, and access to <br>
a support team that will swiftly resolve any issues so that your Inter-active <br>
experience is exciting and stress free!
    <br><br>
    2. &ensp; Press the "Activate Toys" button on our
    home page to create a new account. When you <br> login you will find buttons for registering
and setting up toys. Register your toy <br>
    by entering a name and the toyID that came with your device. You can check <br>
    the availability of names for your convenience. You only need to register
    <br> each toy once.
    <br><br>
    3..&ensp; To start a LIVE donation event, 
    press the "Go LIVE" button and enter your <br> desired goal amount. Your toy is now ready to accept donations!
    Share <br> your toyID number or QR code with everyone who would like to donate to you. <br> 
    Everyone will now be able to donate to you by pressing the "Inter-act" button <br>
    from our home page and entering your ToyID, or by directly scanning the QR Code <br> 
    that is unique to your toy. <br><br>
      4. &ensp; Once your goal has been met, your toy will turn on for everyone to enjoy! </p>
    
   <br>
    
  </div> <!-- end msg-->
 </div> <!-- end msgContainer-->
  
  
  <br><br><hr>
  <div class ="frq">FRQ</div>
  <hr>
  
  <div class ="Rpolicy">Return Policy</div> 
  <hr>
  
  <div class ="Ppolicy">Privacy Policy</div>
  <hr>
  
  
  <div class ="terms">Terms of use</div>
  <hr>
  
    
  <br><br><br>  
    
  <section class='footer'> 
    <div class='footgrid'>
      <p class ="ftr">Privacy policy</p>
      <p class ="ftr">Terms of use</p>
      <p class ="ftr">Return policy</p>
    </div>
  </section> 
  



















  </body>
</html>