<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amazon Case Study</title>
    <meta name="author" content="KRoseEngineering">
    <meta name="description" content="Amazon Case Study">
    <script src="js/amazonStudy.js"></script>
    <link rel="stylesheet" type="text/css" href="css/amazonStudy.css">
  
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,300&family=EB+Garamond&family=Lato:ital,wght@1,100&family=Roboto+Slab:wght@100&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">

 </head>
  <div class = "homeContainer">
  <div class = "kLogoBox">
      <a href = "/"><img src = 'images/KRoseLogo3.svg' height= 50rem class = "kroseLogo"></a>
  </div> <!--end logoBox-->
  </div> <!--end homeContainer-->

  <div class = "mainContainer">
    <div class = 'introContainer'>
     <h1> Amazon Case Study: </h1>
       <div class = 'textBox1'>
       <p1> Increasing sustainability awareness and purchase transparency <br> 
         through redesign of existing features. </p1>
    </div><!--end textBox1-->
       
       <div class = "textBox2">
         <p2> 
         <br> There has been a shift within industries towards providing more eco-friendly products + services, as well as increasing societal pressure to change, and heightened demand for products marked as "sustainable". NYU Stern Center for Sustainable Business conducted a study using IRI provided data, which consisted of 73,293 products purchased across 36 categories, and they were able to determine that consumer packaged products marked as sustainable experienced significant market growth. Another area experiencing significant market growth is M-commerce, which is the purchase of goods and services using a smartphone. M-commerce purchases have been increasing at a rate of 33.8% a year since 2016*.</p2>
  <p2b>*Source: https://techjury.net/blog/mcommerce-statistics/#gref</p2b>
       </div><!--end textBox2--> 
  
       <h2> Can we redesign a mobile application to help promote sustainability? </h2>
      
      <div class = "textBox3">
      <p3>
   <br>With over 150 million users, Amazon is currently the most popular mobile shopping application in America. Furthermore, as demonstrated by user interviews, direct observations, and surveys, many users are unaware of Amazon's "Climate Pledge" which includes partnerships with multiple institutions to offer certified products that promote sustainability. Users who are interested in these products reported experiencing frustration when shopping for them, and a large percentage of users reported that they would purchase sustainable products if it was simply more convenient for them to do so. 
   </p3>
    </div><!--end textBox3-->
      
      <div class = "chartBox">
       <img src="images/survey2.jpg" class = "chart"/>
       <img src="images/survey3.jpg" class = "chart"/>
      </div><!--end chartBox-->
           
      <div class = "textBox4">
        <h3> What can we do to help? </h3>
         <ul class = 'quotes'>
           <li> "I like using the Compare Options section on Amazon but sometimes the other item I want to compare isn't listed so I'm switching back between tabs; it'd be easier if I could edit the options I'm comparing." <br><br></li>
           <li> "I do care about buying environmentally, socially and ethically conscious products and I do shop from Amazon a lot. However, I would like Amazon to kind of highlight every product that follows those specifications, since sometimes I don’t look into how they are made, I just buy them. So if I saw Amazon highlight those products, I would probably be more inclined to purchase them."<br><br></li>
           <li>"I feel like sometimes those products that are environmentally conscious are harder to pick over with other products, which is probably what the frustration stems from."<br><br></li>
           <li> "I believe that it is not as easy to find the label it is usually buried in the text so not quickly noticeable when searching multiple products."<br><br> </li>
        </ul>
           </div><!--end textBox4-->
        
       <div class = "textBox5">
          <h4> Filters </h4>
             <p5> Amazon's current filter function has excellent options. However, there are so many, and the scroll page is so long that users have trouble finding what they need. Our redesigned filter screen arranges the filter categories by buttons, making it easier to see the options and focus on the desired categories. </p5>
      </div><!--end textBox5-->  
      
      <div class = "screenBox1">
        <div class = "screenSet1">
            <img src="images/currentAmazonFilter.svg" class = "screenSet1a" />
            <img src="images/newFilterScreen.svg" class = "screenSet1b" />
        </div><!--end screenSet1-->
      </div><!--end screenBox1-->
     
      <div class = "textBox6">
          <h4> Climate Pledge Filter </h4>
             <p5> To help raise awareness for the Climate Pledge and make it easier to shop for Climate Pledge Friendly items with special certifications, we placed the certification logos directly in the search results and the new compare table, and we created a Climate Pledge Filter which will pop up whenever a list of search results has items with Climate Pledge certifications. The filter will allow users to select their favorite certifications from the list. </p5>
      </div><!--end textBox6-->  
     
      <div class = "screenBox1">
        <div class = "screenSet1">
         <img src="images/climatePledgeMenu.svg" class = "screenSet2a" />
          <img src="images/itemListResult2.svg" class = "screenSet2b" />
        </div><!--end screenSet1-->
      </div><!--end screenBox1-->
      
       <div class = "textBox6">
          <h4> Compare </h4>
             <p5> Many users would like to be able to compare items of their choosing. Amazon currently has a comparison table, but it is only listed towards the bottom of the individual item description list for select items. We took that same table and gave it a dedicated tab within the filters tab so that users can quickly compare items by simply adding them directly from the search results list as they shop. Amazon's current table is displayed on the left and our new Compare interface is displayed on the right.</p5>
      </div><!--end textBox6-->  
     
     <div class = "screenBox1">
        <div class = "screenSet1">
         <img src="images/currentCompareTable.svg" class = "screenSet2a"/>
          <img src="images/compareMenuScreen.svg" class = "screenSet1b"/>
        </div><!--end screenSet1-->
      </div><!--end screenBox1-->
     
     <div class = "textBox6">
          <h4> Compare </h4>
             <p5> The compare table is expandable and scrollable in both directions in the original Amazon version, and in our redesign. Our table will have item specific characteristics like the original table. However, by deafult for every item our redesign will also include the Climate Pledge logos on display, the seller rating, and the country the product was made in. </p5>
      </div><!--end textBox6--> 
      <div class = "screenBox1">
        <div class = "screenSet1">
          <img src="images/compareTable.svg" class = "screenSet3" />
        </div><!--end screenSet1-->
      </div><!--end screenBox1-->
     
      <div class = "textBox6">
        <h4> Interactive Climate Pledge Filter </h4>
           <p5> The screen below is an interactive screen highlighting the new Filter screen arrangement and the new Climate Pledge filter. Press the "filters" icon in the top left corner to see the new Filter menu. From this menu, select the "Climate Pledge Friendly" button to see the real available certifications for the search item "face moisturizers". Select any certifications of interest and press the back arrow in the top left corner. You will notice that the "Climate Pledge Friendly" is outlined in teal to indicate filters from that category have been chosen. This is the same for all categories filters are selected from in the actual design. only 1 category is displayed here for simplicity.</p5>
    </div><!--end textBox6-->  
    
    
    </div><!--end introContainer-->
  </div><!--end mainContainer-->
     
<div class = 'frameSection'>
  <div class = "frameContainer">
   <div class = "frame">
    <div class = "searchbar"> 
      <img src = 'images/Arrow_left.svg' height= 22px width = 23px class = "arrowleft">
    </div><!--end searchbar-->
   
    <div class = "textbox">  
      <img src = 'images/searchIcon.svg' height= 17px width = 16px class = "searchIcon">
      <img src = 'images/cameraIcon.svg' height= 18px width = 18px class = "cameraIcon">
      <img src = 'images/micIcon.svg' height= 18px width = 22px class = "micIcon">
    </div><!--end textbox-->
    <div class = "text"> face moisturizer </div>
    <img src = 'images/locationBar.svg' height= 40px width = 360px class = "locationBar">
    <img src = 'images/primeBar.svg' height= 42.5px width = 360px class = "primeBar">
    <img src = 'images/filtersIcon.svg' height= 40px width = 78.78px class = "filterIcon" id = 'mainFilterBtn'/>
    <img src=  'images/Ad.svg' />
     <img src= 'images/searchResults.svg' class = "searchResults1" />
     <img src= 'images/bottomIconsBar.svg' class = "bottomBar" />
     
    <div class = "menu"  style='display: none' id = 'filters'>
     <div class = "menuHeader">
      <div class = "compareBtn">
        <div class = "compare"> Compare </div>
      </div><!--end compareBtn-->
      <div class = "filterButtons">
        <img src= 'images/funnel.svg' class= "funnel" />
        <img src= 'images/cross.svg' class = "cross" id = 'closeFilters' />
      </div><!--end filterButtons-->
    </div><!--end menuHeader-->
    <div class = "menuSelections" id = "filterBtns">
      <div class ="clear"> Clear </div>
      <div class = "selection" id="sort"> Sort </div>
      <div class = "selection" id="delivery"> Prime & Delivery </div>
      <div class = "selection" id="category"> Categories </div>
      <div class = "selection" id="brands"> Brands </div>
      <div class = "selection" id="price"> Price & Deals </div>
      <div class = "selection" id="ingredients"> Ingredients </div>
      <div class = "selection" id="climate"> Climate Pledge Friendly </div>
      <div class = "selection" id="reviews"> Customer & Seller Reviews </div>
      <div class = "filterResults" id = 'filterResultsBtn' style='display: none'> Show 313 Results </div>
    </div><!--end menuSelections-->
   </div><!--end menu-->
     
     <div class = "climateFilter"  id = 'certifications' style='display: none'>
     <div class = "menuHeader">
      <div class = "compareBtn">
        <div class = "compare"> Compare </div>
      </div><!--end compareBtn-->
      <div class = "filterButtons">
        <img src= 'images/funnel.svg' class= "funnel" />
        <img src= 'images/cross.svg' class = "cross" id = "closeClimateMenu"/>
      </div><!--end filterButtons-->
    </div><!--end menuHeader-->
    <div class = "logoList" id = 'logolist'>
       <img src = 'images/Arrow_left.svg' height= 24px width = 24px class = "backArrow" id = 'backToFilters'>
      <div class = 'filtersText' > Filters </div>
      <img src= 'images/climatePledgeLogo.svg' width = 38px height = 36px class = 'climateLogo' />
      <div class = 'climatePledge'> Climate Pledge Friendly </div>
       <div class = 'available'> Available Certifications: </div>
       <div class = 'logoBox' id = 'carbonNeutral'>
         <img src=  'images/carbonNeutral.svg' width = 64px height = 64px class = "carbonNeutralIcon" />
       </div><!--end logoBox-->
       <div class = 'logoBox' id = 'carbonFree'>
         <img src= 'images/carbonFree.svg' width = 64px height = 64px class = "carbonFreeIcon" />
       </div><!--end logoBox-->
       <div class = 'logoBox' id = 'compactDesign'>
         <img src= 'images/compactByDesign.svg' width = 64px height = 64px class = 'compactDesignIcon' />
       </div><!--end logoBox-->
        <div class = 'logoBox' id = 'climatePartner'>
          <img src= 'images/climatePartner.svg' width = 64px height = 64px class = 'climatePartnerIcon' />
        </div><!--end logoBox-->
         <div class = 'logoBox' id = 'organic'>
           <img src= 'images/usdaOrganic.svg' width = 64px height = 64px class = 'organicIcon' />
        </div><!--end logoBox-->
        <div class = 'logoBox' id = 'ewg'>
          <img src= 'images/ewg.svg' width = 64px height = 64px class = 'ewgIcon' />
        </div><!--end logoBox-->
        <div class = 'aboutClimatePledge'> Climate Pledge Friendly uses sustainability &nbsp; certifications to highlight products that support &nbsp; our commitment to help preserve the natural &nbsp; world. Time is fleeting. </div>
        <div class = 'aboutLink'>
          <a href = "https://www.amazon.com/b/ref=cpf_sp_dsk_srpo_lmlk?node=21221607011"> Learn More </a>
      </div><!--end aboutLink-->
       <div class = "climateFilterResults" id = 'climateResultsBtn'  style='display: none'> Show 313 Results </div>   
       
       </div><!-- end certificationList-->
     </div><!-- end climateFilter-->
   </div><!--end frame-->
  </div><!--end frameContainer-->
   </div><!--end frameSection-->

    
    
 </body>
</html>