<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amazon Case Study</title>
    <meta name="author" content="KRoseEngineering">
    <meta name="description" content="Amazon Case Study">
    <script src="js/amazonStudy.js"></script>
    <link rel="stylesheet" type="text/css" href="css/amazonStudy.css">
  
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,300&family=EB+Garamond&family=Lato:ital,wght@1,100&family=Roboto+Slab:wght@100&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">

 </head>
  <div class = "homeContainer">
  <div class = "kLogoBox">
      <a href = "/"><img src = 'https://drive.google.com/uc?export=view&id=1o2Gthq00nn93qKpNAmbyQbqJRsqI8BHH' height= 50rem class = "kroseLogo"></a>
    </div> <!--end logoBox-->
  </div> <!--end homeContainer-->
 <div class = "mainContainer">
  
   
   <div class = 'introContainer'>
   <h1> Amazon Case Study: </h1>
     <div class = 'textBox1'>
     <p1> Increasing sustainability awareness and purchase transparency <br> 
       through redesign of existing features. </p1>
  </div><!--end textBox1-->
     
     <div class = "textBox2">
     <p2> <br> There has been a shift within industries towards shifting to more eco-friendly products + services, <br> as well as increasing societal pressure to change and heightened demand for products marked as sustainable. <br> NYU Stern Center for Sustainable Business conducted a study using IRI provided data, which consisted of <br> 73,293 products purchased across 36 categories, and they were able to determine that consumer packaged products <br> marked as sustainable experienced significant market growth.
     </p2>
     </div><!--end textBox2--> 
   <div class = "chartBox">
     <img src="https://assets.codepen.io/5556082/sustainableStudy.jpg" class = "chart" />
     
     <p3> Image Source: https://www.stern.nyu.edu/sites/default/files/assets/documents/NYU%20Stern%20CSB%20Sustainable%20Market%20Share%20Index%202020.pdf </p3>
     </div><!--end chartBox-->
   
     <div class = 'textBox3'>
       <p5> 
         <br> We wanted to see how much people knew about sustainability, what their interest in it was, <br>if
         they used mobile applications to make sustainable purchases, and what mobile applications they used.<br> 
         
         
     <div class = "textBox4">    
         <p5><br>With over 150 million users, Amazon is currently the most popular mobile shopping application in America. <br> However, many users are unaware of Amazon's pledge “to be net-zero carbon by 2040”, <br> and their partnerships with 
multiple institutions to offer certified products that promote sustainability. <br>
       </p5>
         </div><!--end textBox4-->
   
   
   </div><!--end introContainer-->
 
</div><!--end mainContainer-->
   <div class = 'frameSection'>
  <div class = "frameContainer">
   <div class = "frame">
    <div class = "searchbar"> 
      <img src = 'https://drive.google.com/uc?export=view&id=1xjmsjBHpVKQSKvyr22JCbPjWgl_2Sl_K' height= 22px width = 23px class = "arrowleft">
    </div><!--end searchbar-->
   
    <div class = "textbox">  
      <img src = 'https://drive.google.com/uc?export=view&id=1GBSlmfvfGX9YS0fyvNmgfm3tggLFTXlP' height= 17px width = 16px class = "searchIcon">
      <img src = 'https://drive.google.com/uc?export=view&id=1C21KnJU3kGW7eDs8vwZ5riQNr15R993c' height= 18px width = 18px class = "cameraIcon">
      <img src = 'https://drive.google.com/uc?export=view&id=1_NzXrTPDMDdfXkP4APuCo-a7QcoYLz3V' height= 18px width = 22px class = "micIcon">
    </div><!--end textbox-->
    <div class = "text"> face moisturizer </div>
    <img src = 'https://drive.google.com/uc?export=view&id=1hIqHqspnf3ldNjjhp5xws5qUZnNmRxRw' height= 40px width = 360px class = "locationBar">
    <img src = 'https://drive.google.com/uc?export=view&id=14MYUaN3Uo5Lg8AvGZGXNcmPRLFKEnGPF' height= 42.5px width = 360px class = "primeBar">
    <img src = 'https://drive.google.com/uc?export=view&id=1INKeaq9rT3MhjBYQHwMDYt-Ju3ddmEhZ' height= 40px width = 78.78px class = "filterIcon" id = 'mainFilterBtn'>
    <img src="https://assets.codepen.io/5556082/Ad.svg" />
     <img src="https://assets.codepen.io/5556082/Search+Results.svg" class = "searchResults1" />
     <img src="https://assets.codepen.io/5556082/Bottom+Icons+Bar.svg" class = "bottomBar" />
     
    <div class = "menu"  style='display: none' id = 'filters'>
     <div class = "menuHeader">
      <div class = "compareBtn">
        <div class = "compare"> Compare </div>
      </div><!--end compareBtn-->
      <div class = "filterButtons">
        <img src="https://assets.codepen.io/5556082/funnel.svg" class= "funnel" />
        <img src="https://assets.codepen.io/5556082/cross.svg" class = "cross" id = 'closeFilters' />
      </div><!--end filterButtons-->
    </div><!--end menuHeader-->
    <div class = "menuSelections" id = "filterBtns">
      <div class ="clear"> Clear </div>
      <div class = "selection" id="sort"> Sort </div>
      <div class = "selection" id="delivery"> Prime & Delivery </div>
      <div class = "selection" id="category"> Categories </div>
      <div class = "selection" id="brands"> Brands </div>
      <div class = "selection" id="price"> Price & Deals </div>
      <div class = "selection" id="ingredients"> Ingredients </div>
      <div class = "selection" id="climate"> Climate Pledge Friendly </div>
      <div class = "selection" id="reviews"> Customer & Seller Reviews </div>
      <div class = "filterResults" id = 'filterResultsBtn' style='display: none'> Show 313 Results </div>
    </div><!--end menuSelections-->
   </div><!--end menu-->
     
     <div class = "climateFilter"  id = 'certifications' style='display: none'>
     <div class = "menuHeader">
      <div class = "compareBtn">
        <div class = "compare"> Compare </div>
      </div><!--end compareBtn-->
      <div class = "filterButtons">
        <img src="https://assets.codepen.io/5556082/funnel.svg" class= "funnel" />
        <img src="https://assets.codepen.io/5556082/cross.svg" class = "cross" id = "closeClimateMenu"/>
      </div><!--end filterButtons-->
    </div><!--end menuHeader-->
    <div class = "logoList" id = 'logolist'>
       <img src = 'https://drive.google.com/uc?export=view&id=1xjmsjBHpVKQSKvyr22JCbPjWgl_2Sl_K' height= 24px width = 24px class = "backArrow" id = 'backToFilters'>
      <div class = 'filtersText' > Filters </div>
      <img src="https://assets.codepen.io/5556082/climate+pledge+logo.svg" width = 38px height = 36px class = 'climateLogo' />
      <div class = 'climatePledge'> Climate Pledge Friendly </div>
       <div class = 'available'> Available Certifications: </div>
       <div class = 'logoBox' id = 'carbonNeutral'>
         <img src="https://assets.codepen.io/5556082/carbonNeutral.svg" width = 64px height = 64px class = "carbonNeutralIcon" />
       </div><!--end logoBox-->
       <div class = 'logoBox' id = 'carbonFree'>
         <img src="https://assets.codepen.io/5556082/carbonFree.svg" width = 64px height = 64px class = "carbonFreeIcon" />
       </div><!--end logoBox-->
       <div class = 'logoBox' id = 'compactDesign'>
         <img src="https://assets.codepen.io/5556082/compactByDesign.svg" width = 64px height = 64px class = 'compactDesignIcon' />
       </div><!--end logoBox-->
        <div class = 'logoBox' id = 'climatePartner'>
          <img src="https://assets.codepen.io/5556082/climatePartner.svg" width = 64px height = 64px class = 'climatePartnerIcon' />
        </div><!--end logoBox-->
         <div class = 'logoBox' id = 'organic'>
           <img src="https://assets.codepen.io/5556082/usdaOrganic.svg" width = 64px height = 64px class = 'organicIcon' />
        </div><!--end logoBox-->
        <div class = 'logoBox' id = 'ewg'>
          <img src="https://assets.codepen.io/5556082/ewg.svg" width = 64px height = 64px class = 'ewgIcon' />
        </div><!--end logoBox-->
        <div class = 'aboutClimatePledge'> Climate Pledge Friendly uses sustainability &nbsp; certifications to highlight products that support &nbsp; our commitment to help preserve the natural &nbsp; world. Time is fleeting. </div>
        <div class = 'aboutLink'>
          <a href = "https://www.amazon.com/b/ref=cpf_sp_dsk_srpo_lmlk?node=21221607011"> Learn More </a>
      </div><!--end aboutLink-->
       <div class = "climateFilterResults" id = 'climateResultsBtn'  style='display: none'> Show 313 Results </div>   
       
       </div><!-- end certificationList-->
     </div><!-- end climateFilter-->
   </div><!--end frame-->
  </div><!--end frameContainer-->
   </div><!--end frameSection-->

    
    
 

  
  
  
  
    </body>
</html>