<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inter-act LIVE Form Error </title>
    <meta name="author" content="Kuki design and K-Rose js">
    <meta name="description" content="ECE 140B Inter-Act Live Form Error">
    <script src="js/formError.js"></script>
    <!-- this imports the CSS file. do not remove -->
    <link rel="stylesheet" type="text/css" href="css/formError.css">

</head>
 <body>

   <div class = "topnav">
   <div class = "container2">
      <div class= "header">
          <div class="txt">Inter-act </div>
          <div class="clr"> LIVE </div>
      </div> 
   </div> <!--end container2-->
  
      <div class = "options3">
        <div class = "txt"> ABOUT </div>
        <div class = "clr"> Inter-act </div>
     </div>
  </div> <!--end container3-->
</div> <!--end topnav-->
 
  <div class="container1">
    <h1 class= "banner"> Error: &ensp; Invalid form input. <br> 
      Please be sure that first and last names are <br> 
      between 2-40 characters in length, <br> letters only. &ensp; 
      User names should be 2-30 <br> characters in length, and passwords 
      should be <br> 6-25 characters in length. &ensp; No forward <br> 
      or backwards slashes in any fields <br> Please press return to re-enter<br> your information  </h1>
   </div>
   <div class = "btnContainer">
   <div class = "returnBtn">
    <div class = "return" > Return </div>
   </div>
 </div><!--end btnContainer--> 
  </body>
</html>