<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kimberly-Rose Engineering Home</title>
    <meta name="author" content="KRoseEngineering">
    <meta name="description" content="Kimberly-Rose Home">
    <script src="js/home.js"></script>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,300&family=EB+Garamond&family=Lato:ital,wght@1,100&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
 </head>
  
<body>
     <div class = "mainBox">
      <nav class="menu">
        <div class = "logoBox">
        <img src = 'images/KRoseLogo3.svg' height= 50rem class = "kroseLogo">
        </div> <!--end logoBox-->
      <div class = "buttons"> 
          <a href="#"> About </a>
        </div> <!--end buttons-->
         
        <div class = "buttons"> 
          <a href="#"> Resume </a> 
        </div> <!-- end buttons-->
          
        <div class = "dropdown"> 
          <h> Projects </h> 
            <ul class = "submenu">
              <li> <a href = "/get_predictor_home"> Data Science/ML: Diabetes Predictor </a></li>
              <li><a href = "#"> UX/UI: Amazon Climate Pledge Redesign </a></li>       
            </ul> <!--end submenu-->
        </div> <!-- end dropdown-->
      </nav><!--end menu-->

  <div class = "meContainer">
     <div class = "picContainer">
      <h3> My Image Coming Soon </h3> 
    </div> <!--end picContainer-->
    
    
    <div class = "messageContainer">
      <p1> BS Electrical Engineering, &nbsp; June 2022 <p1>
         <p3><br>Specializing in Computer System Design <br> Chancellor's Associate Scholar <br></p3>
      <p2> University of California, San Diego <br><br> </p2>
        
      <div class = "smallMessage">
        <p4> AS Electrical and Computer Engineering, &nbsp; June 2019 </p4>
        <p5><br> With Honors </p5>
        <p6><br> Cuyamaca College, El Cajon, CA </p6>
        </div> <!--end smallMessage-->
     
    </div> <!--end messageContainer-->
    
   
  </div> <!--end meContainer-->
  
 </div><!-- end mainBox-->

  
  </body>
</html>