<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kimberly-Rose Engineering Home</title>
    <meta name="author" content="KRoseEngineering">
    <meta name="description" content="Kimberly-Rose Home">
  
    <link rel="stylesheet" type="text/css" href="css/home.css">
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,300&family=EB+Garamond&family=Lato:ital,wght@1,100&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
 </head>
  
<body>
     <div class = "mainBox">
      <nav class="menu">
        <div class = "logoBox">
        <img src = 'images/KRoseLogo3.svg' height= 50rem class = "kroseLogo">
        </div> <!--end logoBox-->
        <div class = "options">
          <div class = "buttons"> 
             <a href="/get_about_me"> About Me </a>
           </div> <!--end buttons-->
            
          <div class = "dropdown1"> 
            <h> Resume </h> 
              <ul class = "submenu">
                <li> <a href = "documents/KimberlyJohnsonResume.pdf"> View </a></li>
                <li> <a href = "documents/KimberlyJohnsonResume.pdf" download="KimberlyJohnsonResume.pdf"> Download </a></li>
              </ul> <!--end submenu-->
          </div> <!-- end dropdown1-->
             
          <div class = "dropdown2"> 
            <h> Projects </h> 
              <ul class = "submenu">
                <li> <a href = "/get_predictor_home"> Diabetes Risk Predictor </a></li>
                <li> <a href = "/get_my_database"> C++ Relational Database </a></li>
                <li><a href = "https://guitar.ucsd.edu/maeece148/index.php/2021SummerTeam5"> Fully Autonomous Race Car </a></li>
                <li><a href = "/get_interact_home"> Inter-Act LIVE </a></li>  
                <li><a href = "/get_amazon_study"> Amazon Climate Pledge Redesign </a></li>  
             </ul> <!--end submenu-->
           </div> <!-- end dropdown2-->
           </div> <!-- end options-->
         </nav><!--end menu-->
   
     <div class = "meContainer">
      <div class = "portrait">
       <img src="images/portrait2.svg" class = "me" />
      </div> <!--end portrait-->

      <div class = "messageContainer">
       <p1> Kimberly-Rose <br> </p1>
       <p2> <br> Software Engineer </p2>
       <p3> Delivering software system solutions by applying engineering principles and best design practices.</p3>

      <div class = "iconContainer">
       <div class = "mailContainer">
           <img src="images/Mail.svg" class = "mail" />
         <p4> <a href = "mailto: kroseeng@gmail.com"> Email </a> </p4>
       </div> <!--end mailContainer-->

       <div class = "gitContainer">
         <img src="images/GitHub-Mark-32px.png" height= 30rem />
         <p5> <a href = "https://github.com/Kimberly-Rose"> GitHub </a> </p5>
       </div> <!--end gitContainer-->
      </div> <!--end iconContainer-->

      <div class = "statusContainer">
       <div class = "available"> AVAILABLE &nbsp;&nbsp;FOR&nbsp;&nbsp;HIRE </div>
       <div class = "unavailable"> UNAVAILABLE&nbsp;&nbsp;FOR&nbsp;&nbsp;HIRE  </div>
      </div> <!-- end statusContainer-->

    </div> <!--end messageContainer-->
  </div> <!--end meContainer-->
     </div><!-- end mainBox-->
    </body>
   </html>