<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Diabetes Predictor Home </title>
    <meta name="author" content="Kimberly-Rose">
    <meta name="description" content="Predict Your Risk of Diabetes">
    <script src="js/predictorHome.js"></script>
    <!-- this imports the CSS file. do not remove -->
    <link rel="stylesheet" type="text/css" href="css/predictorHome.css">
    <link href='https://fonts.googleapis.com/css?family=Belgrano'rel='stylesheet'>
 </head>
  
  <body>
    <body>
        <div class = container> 
            <div class = "logoBox">
                <a href = "/"><img src = 'images/KRoseLogo3.svg' height= 50rem class = "kroseLogo"></a>
           </div> <!--end logoBox-->
           
           <div class = "headerContainer">
               <h1> Diabetes Risk Predictor </h1>
             </div> <!--end headerContainer-->
             
           <div class = "description1">
             <p0>
               Can we build an interactive Diabetes risk predictor using machine learning? <br> </p0>
        <p1> <br> Using the CDC open dataset from the 2020 Behavioral Risk Factor Surveillance System, our team developed a model that
       <br> predicts the risk of developing Type II Diabetes from assessing a set of potential risk factors. <br><br> 4 models were
       trained and tested, and the Logistical Regression model was selected due to its consistent performance <br>in each test and its highest overall F1-score. <br><br>
        </p1>
               
        </div><!--end description1-->
             
        <div class = "imageContainer">
         <img src="images/mlModel.jpg">
             </div>
         
       <div class = "description2">
           <p0> Interested in assessing your risk? <br></p0>
         <p1> <br>Take our survey by clicking below <br> </p1>
        
             </div><!--end description2-->
             
        <div class = 'btnContainer'> 
         <div class="surveyBtn" id = 'survey'> Take the Survey </div>
        </div> <!-- end btnContainer-->
            <div class = "disclaimer">
             <p2> <br><br>*Please note that we are not board certified physicians or licensed health professionals, all assessments are for educational purposes only. </p2> 
             </div>
           
           </div> <!-- end container-->    
     
  </body>
</html>
  
