<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Diabetes Prediction Results</title>
    <meta name="author" content="Kimberly-Rose">
    <meta name="description" content="Results">
    <script src="js/predictorResults.js"></script>
    <!-- this imports the CSS file. do not remove -->
    <link rel="stylesheet" type="text/css" href="css/predictorResults.css">

 </head>
  
  <div class = "container">
 <div class = "headerContainer">
   <h1> Results </h1> 
</div> <!--end headerContainer-->
    
  <div class = "resultsContainer">
  
   <div id = "results"> {{results}} </div>

    <div class = "buttons">
       <div class = 'btnContainer'> 
  <div class="mainBtn" id = 'main'> Return to Main Page</div>
 </div> <!-- end btnContainer-->
      
      <div class = 'btnContainer'> 
  <div class="surveyBtn" id = 'survey'> Take Survey Again </div>
 </div> <!-- end btnContainer-->
      
    </div><!--end buttons-->
    
 </div> <!--end resultsContainer-->   
    
    
  </div><!--end container-->