<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inter-act LIVE Shop Toys</title>
    <meta name="author" content="Kuki design and K-Rose js">
    <meta name="description" content="ECE 140B Inter-Act Live Shop Toys">
    <script src="js/shop.js"></script>
    <!-- this imports the CSS file. do not remove -->
    <link rel="stylesheet" type="text/css" href="css/shop.css">

</head>

<body>

    <div class = "topnav">
   <div class = "container2">
      <div class= "header">
          <div class="txt">Inter-act </div>
          <div class="clr"> LIVE </div>
      </div> 
   </div> <!--end container2-->
  <div class ="container2">
      <div class = "options3">
        <div class = "txt"> ABOUT </div>
        <div class = "clr"> Inter-act </div>
     </div>
    </div> <!--end container2-->
  </div> <!--end container3-->
</div> <!--end topnav-->
 
   <div class="container1">
    <h1 class= "banner">Shop Toys! <br> Or contact us for custom toys!      </h1>
   </div>
  
  <div class="list">
    <img src="toyImages/1402.jpg" height="200" class="pic">

    <p class="desc">Available for purchase soon!</p>
  </div>
  
  <div class="list">
    <img src="toyImages/1403.jpg"  height="200" class="pic"> 
    <p class="desc">Available for purchase soon!</p>
  </div>
  
  <br><br><br> 
    
  <section class='footer'> 
    <div class='footgrid'>
      <p class ="ftr">Privacy policy</p>
      <p class ="ftr">Terms of use</p>
      <p class ="ftr">Return policy</p>
    </div>
  </section> 




</body>
</html>